.question-answer-items-main-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.question-answer-item {
  min-height: 3rem;
}

.question-answer-item-inner-container {
  display: flex;
  padding: .8rem;

  .question {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .show-answer {
    width: 15%;
    display: flex;
    justify-content: center;
  }
}
